@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  :root {
      --font-principal: 'Poppins', sans-serif;
      --font-secundaria: 'Roboto', sans-serif;
  }
  

.categorias_Header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-principal);
}

.lista_Laika {
    display: flex;
    gap: 2rem;
}

.Laika_box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ancora_Header{
    text-decoration: none;
    color: black;
}

.imagen_Laika {
    width: 50px;
    height: auto; 
}

.texto_Laika{
    font-size: 44px;
    text-shadow: 1px 1px 1px black;
}

.box_Video{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-secundaria);
    height: 60vh;
    gap: 1rem;
}

.titulo_Video{
    color: black;
    font-size: 3rem;
    font-weight: 900;
    margin-top: auto;
}

.ancora_Video{
    text-decoration: none;
    background-color: #1C212A;
    padding: 10px;
    font-size: 1.3rem;
    width: 146px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 1.4rem;
}

.box_Section1{
    display: flex;
    font-family: var(--font-secundaria);
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0px 1.5rem 0px;
    gap: 2rem;
    padding: 2.5em 2em;
}

.div_Section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    padding: 2.5em 2em;
}

.image_Section{
    width: 100px;
    height: 100px;
}

.section_Carrosel{
    height: 50vh;
    background-color: #1C212A
}

.section_About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secundaria);
    margin: 1rem 0px 1rem 0px;
    gap: 2rem;
    padding: 2.5em 2em;
}

.box_About{
    display: flex;
}

.titulo_About{
    font-size: 2rem;
    font-weight: 700;
}

.box_footer{
    display: flex;
    background-color: #1C212A;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 2em;
}

.titulo_footer{
    color: white;
    font-family: var(--font-secundaria);
    font-weight: 900;
}

.texto_footer{
    color: white;
    font-family: var(--font-secundaria);
    font-weight: 900;
}